.catalog-aside {
	padding-right: 30px;
}

.catalog-aside__title {
	padding: 10px 0;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 15px;
	font: 13px/1.2 sans-serif;
	color: #4b4b4b;
	text-transform: uppercase;
	font-weight: bold;
}

.catalog-aside__price h3,
.catalog-aside__popular h3 {
	margin-top: 20px;
}

.catalog-aside__list {
	font: 12px/23px sans-serif;
	color: #898989;

	a {
		text-decoration: none;
		color: #898989;
	}
}

.catalog-aside__item {
	display: flex;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px dashed #e2e2e2;

	&:first-of-type {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
		border-bottom: 0;
	}

	h3 {
		margin-top: 0;
		font: 11px/18px sans-serif;
		font-weight: bold;
		color: #666666;
		padding-bottom: 3px;
	}

	a {
		display: block;
	}
}

.catalog-aside__img-description {
	padding-left: 11px;
}

.catalog-aside__image {
	width: 60px;
	height: 70px;
	border: 2px solid #fff;
	box-shadow: 0 0 2px #f2f2f2;
	overflow: hidden;

	img {
	 max-width: inherit;
	 height: auto;
	}
}

.stars__block {
	display: flex;
	padding-bottom: 3px;

	a:last-child span {
		margin-right: 0;
	}
}

.stars {
	display: block;
	width: 11px;
	height: 11px;
	margin-right: 3px;
	background: url(../img/star.svg) center center no-repeat;
}

.catalog-aside__digitals {
	color: #fe5252;
}

.catalog-aside__category .catalog-aside__list,
.catalog-aside__price .catalog-aside__list {

	a {
		display: inline-block;
		position: relative;
		padding-left: 15px;
		transition: all 400ms;

		&::before {
			content: "";
			position: absolute;
			width: 3px;
			height: 3px;
			background-color: #b9b9b9;
			left: 0;
    	top: 9px;
		}

		&:hover {
			opacity: 1;
			color: #fe5252;
			transform: translateX(5px);
		}

		&:hover::before {
			opacity: 1;
			background-color: #fe5252;
		}
	}
}

.catalog-aside__category .catalog-aside__list li {
	transition: transform 400ms;	
}

.catalog-aside__shopping {
	display: flex;
	justify-content: center;
  align-items: flex-end;	
	height: 294px;
	margin-top: 25px;
	padding-bottom: 28px;
	border: 3px solid #fff;
	background: url("../img/shopping.jpg") center center no-repeat;
	box-shadow: 0 0 3px #f2f2f2;

	a {
		display: flex;
		width: 76px;
		height: 32px;
		background: linear-gradient(0deg, #fe5252, #fe7373);
		text-decoration: none;
		color: #fff;
		font-size: 11px;
		font-family: sans-serif;
		border-radius: 1px;
	}

	span {
		margin: auto;
		color: #fff;
		font-size: 11px;
		font-family: sans-serif;
	}
}

.catalog-aside__category,
.catalog-aside__price {
	
	select {
		display:none;
		padding: 5px;
    padding-left: 10px;
    background-color: #fe5252;
    color: #fff;
    font-weight: bold;
	}
}

@media (max-width: 838px) {
	.catalog__user-block .user-block__options {
		margin-bottom: 25px;
	}

	.catalog__main-nav {
		margin-top: 27px;
	}
}

@media (max-width: 835px) {
	.catalog-aside {
		padding-right: 15px;
	}
}

@media (max-width: 734px) {
	.catalog-aside {
		display: flex;
		justify-content: space-between;
		padding-right: 0;
		margin-bottom: 30px;
	}

	.catalog-aside__price h3, .catalog-aside__popular h3 {
		margin-top: 0;
	}

	.catalog-aside__shopping {
		display: none;
	}

	.catalog-aside__category {
		margin-right: 30px;
	}

	.catalog-aside__price {
		margin-right: 0;
	}
}

@media (max-width: 600px) {
	.catalog__user-block {
		align-items: flex-end;
	}

	.catalog-aside {
		padding-right: 0;
		flex-wrap: wrap;
	}

	.catalog-aside__popular {
		flex-basis: 100%;

		.catalog-aside__title {
			text-align: center;
		}
	}

	.catalog-aside__list {
		justify-content: space-around;
	}

	.catalog-aside__popular .catalog-aside__list {
		display: flex;
	}

	.catalog-aside {
		justify-content: space-around;
	}

	.catalog-aside__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 0;
		border-bottom: 0;
		text-align: center;
	}

	.stars__block {
		padding-left: 27px;
	}

	.catalog-aside__img-description {
		padding-left: 10px;
	}

	.catalog-aside__title {
		text-align: center;
	}

	.catalog-aside__list {
		display: none;
	}

	.catalog-aside__category,
	.catalog-aside__price {
	
		select {
			display: block;
		}
	}
}

.catalog-aside__popular {
	margin-top: 25px;
}

@media (max-width: 401px) {
	.catalog__user-block span {
		font-size: 12px;
	}
}

@media (max-width: 390px) {
	.catalog__user-block span {
		font-size: 12px;
	}

	.catalog__main-nav {
    margin-top: 15px;
	}

	.catalog__user-block .user-block__login {
    margin-right: 0;
	}

	.catalog-logo {
		width: 82px;
		height: 74px;
		background-size: 164%;
		padding-top: 38px;

		span:first-child {
			font-size: 13px;
		}

		span:last-child {
			font-size: 8px;
			line-height: 13px;
			padding-top: 5px;
			letter-spacing: 0.3px;
		}
	}
}

@media (max-width: 380px) {
	.catalog-aside__list {
		flex-direction: column;
		align-items: center;
	}

	.catalog-aside__item {
		flex-direction: row;
		text-align: left;
	}

	.stars__block {
		padding-left: 0;
	}
}

@media(max-width: 372px) {
	.catalog-aside__category,
	.catalog-aside__price {

		select {
			width: 140px;
		}
	}

	.catalog-aside__category {
    margin-right: 10px;
	}
}

@media (max-width: 340px) {
	.catalog__user-block .user-block__language {
    margin-right: 12px;
	}

	.catalog__user-block .user-block__login span {
    padding-right: 5px;
    padding-left: 5px;
	} 
}



