.product__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.product-main__visual {
  display: flex;
}

.product-main__slider {
  padding-left: 12px;
  padding-right: 20px;

  img {
    margin-left: 1px;
    margin-right: 5px;
    border: 2px solid #fff;
    box-shadow: 0 0 2px #d1d1d1;
    margin-top: 7px;
    margin-bottom: 7px;
  }

  button[role="tab"] {
    display: none;
  }

  .slick-arrow {
    width: 20px;
    height: 25px;

    &::before, &::after {
      display: none;
    }
  }

  .slick-prev, .slick-next {
    background: url("../img/arrow-1.png") center center no-repeat;
  }

  .slick-prev {
    transform: rotate(180deg);
    left: -7px;
    top: 33px;
  }

  .slick-next {
    left: 298px;
    top: 33px;
  }
}

.product-main__slider div {
  width: 290px;
}


.product-main .main-photo {
  border: 4px solid #fff;
  box-shadow: 0 0 2px #d9d3d2;
}

.product-main__description {
  margin-left: 35px;
}

.product-main__description h2 {
  font: 20px/1.2 sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: 10px;
}

.product-main__description {
  .featured-products__rating {
    padding-left: 0;
  }

  .featured-products__stars {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 0;

    a:nth-child(5) {
      margin-right: 10px;
    }

    a:nth-child(6),
    a:nth-child(8) {
      background: transparent;
      font: 10px/1.2 sans-serif;
      color: #898989;
      width: auto;
      height: auto;
      text-decoration: none;
    }

    span {
      font-size: 10px;
      margin-left: 2px;
      margin-right: 5px;
    }
  }

  .product-main__text {
    margin-top: 12px;
    padding-bottom: 25px;
    font: 11px/1.9 sans-serif;
    color: #898989;
    border-bottom: 1px dashed #dddddd;
  }
}

.product-main__stock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;

  div span {
    font: 12px/1.2 sans-serif;
    color: #747474;
    font-weight: bold;
    margin-right: 10px;
  }

  select {
    width: 40px;
    border: 1px solid #eeeded;
    border-radius: 1px;
    color: $text-color;
  }
}

.product-main__stock p {
  margin-right: 50px;
  font: 12px/1.2 sans-serif;
  color: #747474;
  font-weight: bold;

  span {
    font: 12px/1.2 sans-serif;
    color: $text-color;
  }
}

.product-main__stock .product-main__price {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px dashed #dddddd;

  span {
    font: 25px/1.2 sans-serif;
    font-weight: bold;
    color: #ff534f;
  }

  button {
    position: relative;
    width: 150px;
    height: 30px;
    margin-left: 61px;
    padding: 0 0 0 50px;
    background-color: #d0d0d0;
    border: 0;
    border-radius: 2px;
    box-shadow: none;
    font: 12px/1.2 sans-serif;
    color: #fff;
    text-align: left;
    cursor: pointer;
    outline: none;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 20px;
      top: 5px;
      left: 10px;
      background: url("../img/sprite.png") -13px -1011px no-repeat;
      box-shadow: 1px 0 0 #bdbdbd;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }


    &:hover {
      opacity: 0.7;
    }
  }
}

.product-main__visual .featured-products__added {
  margin-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px dashed #dddddd;
}

.product-main__visual .featured-products__added a {
    position: relative;
    font: 11px/1.2 sans-serif;
    color: #898989;
    text-decoration: none;
    padding-left: 23px;
    margin-right: 8px;
    white-space: nowrap;

    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background: url(../img/sprite.png) -13px -798px no-repeat;
      left: 0;
    }

    &:nth-child(2)::before {
      background: url(../img/sprite.png) -13px -864px no-repeat;
    }

    &:nth-child(3)::before {
      background: url(../img/sprite.png) -13px -933px no-repeat;  
    }
}

.product-main__icons {
  text-align: right;
  margin-top: 10px;
  
  a {
    display: inline-block;
    width: 20px;
    height: 20px;

    &:nth-child(1) {
      background: url("../img/sprite.png") -120px -857px  no-repeat;
    }

    &:nth-child(2) {
      background: url("../img/sprite.png") -120px -790px  no-repeat;
    }

    &:nth-child(3) {
      background: url("../img/sprite.png") -120px -723px  no-repeat;
    }

    &:nth-child(4) {
      background: url("../img/sprite.png") -120px -661px  no-repeat;
    }

    &:nth-child(5) {
      background: url("../img/sprite.png") -120px -594px  no-repeat;
    }

    &:nth-child(6) {
      width: 45px;
      background: url("../img/sprite.png") -107px -520px no-repeat;
    }
  }
}

.tabcontent {
  display: none;

  &:first-child {
    display: block;
  }
}

.tablinks {
  padding: 0 20px;
  height: 32px;
  background-color: #e0e0e0;
  border: 0; 
}

.tabs {
  margin-top: 30px;

  .tablinks {
    outline: none;
    cursor: pointer;
    margin-bottom: 3px;
    border: 1px solid #f2f2f2;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-shadow: 1px 1px 1px #b7b7b7;

    &.active {
      position: relative;
      background: #ffffff;
      border: 1px solid #f2f2f2;
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 3px;
      color: #ff4e52;
      text-shadow: none;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-left: 1px solid #f2f2f2;
        left: -1px;
        bottom: -4px;
        border-right: 1px solid #f2f2f2;
      }
    }
  }
}

.tab__list {
  border: 1px solid #f2f2f2;
  overflow: auto;
}

.tabcontent {
  height: 240px;
  padding: 24px 20px 55px 20px;
  font: 11px/1.9 sans-serif;
  color: #898989;
}

.tab__list {
  
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #ff948a;
  }

  &::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #f75f51;
  }

  &::-webkit-scrollbar-track{
    border-width:0;
  }

  &::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #f9e6e6;
  }
}
