.socials {
	margin-bottom: 50px;
}

.socials__list {
	display: flex;
}

.socials__item {
	border-right: 1px solid #f0f0f0;

	&:last-child {
		border: 0;
	}
}

.socials__title {
	font: 18px/44px sans-serif;
	line-height: 1;
	margin-bottom: 15px;
	color: #4b4b4b;
	text-transform: uppercase;
	display: inline-block;
}

.twitter__item {
	position: relative;
	display: flex;
	min-width: 300px;
	flex-direction: column;
	padding: 0 40px 0 45px;

	&::before {
		content: "";
		position: absolute;
		width: 36px;
		height: 35px;
		left: 0;
		top: 0;
		background: url("../img/twitter.svg") left top no-repeat;
	}

	p {
		font: 11px/20px cursive;
		color: #666666;

		&:last-child {
			border-bottom: 1px dashed #dbdbdb;
    	text-align: right;
			color: #b0b0b0;
			padding-bottom: 15px;

			a {
				text-decoration: none;
				color: #898989;
			}
		}

		span {
			color: #fe5252;
		}
	}

	&:last-child p {
		margin-top: 10px;
		color: #fe5252;
		text-align: left;
		border: 0;
	}

	&:last-child::before {
		display: none;
	}
}

.socials__item:nth-child(2) {
	padding: 0 40px;

	p {
		position: relative;
		font: 11px/25px sans-serif;
		color: #898989;
		white-space: nowrap;
		padding-left: 60px;
		margin-bottom: 10px;
		cursor: pointer;

		&:hover {
			opacity: 0.5;
		}

		&:last-child {
		margin-bottom: 0;
		margin-top: 10px;
		padding-left: 23px;
			&::before {
				width: 23px;
				background: url("../img/sprite.png") -18px -126px no-repeat;
			}
		}

		&::before {
			content: "";
			position: absolute;
			width: 50px;
			height: 25px;
			background: url("../img/sprite.png") -11px -718px no-repeat;
			left: 0;
			top: 0;
		}
	}
}

.facebook__list {
	display: flex;
	flex-wrap: wrap;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px dashed #dbdbdb;
	border-bottom: 1px dashed #dbdbdb;
}

.facebook__item {
    margin-right: 21px;

    &:first-child {
    	margin-bottom: 20px;
    }
	
	span {
		display: block;
			font-size: 10px;
			color: #898989;
			text-align: center;

		&:first-child {
			font-size: 0;
			width: 63px;
			height: 63px;
			background: url(../img/fb-1.jpg) top left no-repeat;
			background-size: cover;
			border: 3px solid #fff;
			transition: opacity 500ms;

			&:hover {
				opacity: 0.5;
			}

			a {
				display: block;
				height: 100%;
			}
		}
	}

	&:nth-child(2) span:first-child {
		background: url(../img/fb-2.jpg) top left no-repeat
	}

	&:nth-child(3) span:first-child {
		background: url(../img/fb-3.jpg) top left no-repeat
	}

	&:nth-child(4) span:first-child {
		background: url(../img/fb-4.jpg) top left no-repeat
	}

	&:nth-child(5) span:first-child {
		background: url(../img/fb-5.jpg) top center no-repeat
	}

	&:nth-child(6) span:first-child {
		background: url(../img/fb-6.jpg) top center no-repeat
	}
}

.facebook__item:nth-child(3n){
    margin-right: 0;
}

.socials__item:nth-child(3) {
	padding: 0 17px 0 40px;

	p {

		&:first-child {
			font: 11px/20px cursive;
			color: #666666;
			margin-bottom: 25px;
		}

		&:last-child {
			padding-bottom: 14px;
			border-bottom: 1px dashed #dbdbdb;
			font: 10px solid sans-serif;
			color: #fe5252;
			text-transform: uppercase;
			text-align: right;
		}
	}
}

.review__item:last-child p:last-child {
	border: 0;
}

.review__item:nth-child(2) p:first-child,
.review__item:nth-child(3) p:first-child {
	margin-top: 10px;
}


.review__item:last-child p:first-child,
.review__item:nth-child(2) p:first-child{
	margin-bottom: 10px;
}

@media (max-width: 964px) {
	.socials__list {
		flex-wrap: wrap;
	}

	.socials__item:nth-child(1) {
		flex-basis: 49%;
	}

	.socials__item:nth-child(2) {
		flex-basis: 49%;
	}

	.socials__item:nth-child(3) {
		flex-basis: 100%;
		order: 3;
	}

	.socials__title {
		margin-left: 40px;
	}

	.twitter__item {
		padding-left: 80px;
	}

	.twitter__item::before {
		left: 40px;
	}

	.facebook__title {
		margin-left: 0;
		text-align: left;
	}

	.facebook__list {
		justify-content: space-around;
	}

	.socials__item:nth-child(2) {
		border-right: 0;
	}

	.facebook__item:nth-child(3n) {
		margin-right: 21px;
	}

	.socials__item:last-child {
		margin-top: 20px;
	}
	.socials__item:nth-child(3) p:first-child {
		text-align: center;
		margin-bottom: 19px;
	}

	.socials__item:nth-child(3) p:last-child {
		text-align: center;
	}

	.review__item:last-child p:last-child {
		border-bottom: 1px dashed #dbdbdb;
	}

	.rumours__title {
		display: block;
		text-align: center;
		margin-bottom: 5px;
	}
}

@media (max-width: 620px) {
	.socials__item:nth-child(1) {
		order: 2;
		flex-basis: 100%;
		margin-top: 35px;
	}

	.socials__item:nth-child(3) {
		order: 3;
		padding: 0 20px 0 20px;
	}

	.socials__item:nth-child(2) {
		flex-basis: 100%;
	}

	.facebook__item {
		margin-right: 10px;
	}

	.facebook__item:nth-child(3n) {
		margin-right: 10px;
	}

	.facebook__list {
		justify-content: center;
	}

	.review__item:last-child p:last-child {
    border-bottom: 0;
	}

	.twitter__item::before {
    left: 20px;
	}

	.twitter__item {
    padding-left: 60px;
	}

	.twitter__item {
    padding: 0 20px 0 60px;
	}

	.facebook__list {
    justify-content: space-between;
	}

	.socials__item:nth-child(2) {
    padding: 0 20px;
	}
}
